body {         
    background-color: #000040;   
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#div-pre-chat {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
}
#p-tell-name {
    font-weight: bold;
    font-size: 16px;
}
#input-name {
    width: 250px;
    height: 30px;
    border: 1px solid #000040;
}
#btn-enter {
    width: 100px;
    height: 40px;
    background-color: #00d036;
    border: none;
}
#div-name-error-msg {
    background-color: #FF0000;
    font-size: 12px;
    color: white;
}